*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #5344db;
    --accent-color: #3e2ec8;
    --grey:#484848;
    --bg-grey: #f9f9f9;
    --shadow: #949494;
}

.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 210vh;
    
}

.row{
    display: flex;
    gap: 75px;
}

.col-6{
    width: 50%;
}

.single-product{
    width: 1080px;
    position: relative;
}
/** Breadcrumb **/

.single-product .breadcrumb{
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
    content: '/';
}

.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 480px;
    background: var(--bg-grey);
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-image-slider{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.product-image-slider img{
    width: 90px;
    height: 150px;
    background: var(--bg-grey);
    padding: 6px;
    cursor: pointer;
}

/** product title **/

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 32px;
    line-height: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

/** product rating **/
.product-rating{
    display: flex;
    margin-top: 4px;
    margin-bottom: 10px;
    align-items: center;
}

.product-rating span:not(:last-child){
    color: #ffc600;
}
.product-rating .review{
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
}
/** Product price **/
.product-price{
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.product-price .offer-price{
    font-size: 22px;
    font-weight: 200;
}


/** Product Details **/
.product-details{
    margin: 10px 0;
}
.product-details h3{
    font-size: 18px;
    font-weight: 500;
}
.product-details p{
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.2rem;
}


/** Product Color **/
.product-color{
    margin: 10px 10px;
    justify-content: center;
}
.product-color h4{
    font-size: 16px;
    font-weight: 500;
}
.product-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.product-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.product-color .color-layout .black{
    
    background-color: black;
}

.product-color .color-layout .white{
    background-color: rgb(244, 235, 235);
}
.product-color .color-layout .blue{
    background-color: rgb(102, 190, 231);
}

.product-color .color-layout input[type="radio"]:checked + label{
    box-shadow: 2 3px 6px var(--shadow);
}

.product-color .color-layout .color-input{
    display: none;
}


/** divider **/
.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
    display: flex;
    gap: 15px;
}
.product-btn-group .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}
.product-btn-group .buy-now{
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.product-btn-group .buy-now i{
    font-size: 20px;
}
.product-btn-group .buy-now:hover{
    box-shadow: 0 3px 6px var(--shadow);
}
#popup {
    display: none;
    position: fixed;
    padding: 10px;
    width: 450px;
    left: 50%;
    margin-left: -150px;
    height: 150px;
    top: 50%;
    margin-top: 50px;
    background:  rgb(182, 226, 247);
    border: 5px solid #181717;
    z-index: 20;
  }
  .popup{
    text-align: center;
  }
  
  /* Styling buttons*/
  
  .body{
    background: offwhite;
    font-family: Arial, sans-serif;
    text-align: center;
   
  }
  
  button {
    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    border-color:var(--bg-grey) ;
    
  }
  .button{width: 500;}
  .button{border-radius: 4px;}
  button:hover {
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #e3dfdf;
    transition: all 0.3s ease 0s;
  }

.product-btn-group .view-cart{
    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
}
.product-btn-group .view-cart i{
    font-size: 20px;
}
.product-btn-group .view-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #e3dfdf;
}


/** Responsive Mobile **/
@media screen and (max-width:600px) {
    .container{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }

    .col-6{
        width: 100%;
        display: block;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
        height: auto;
    }
    .product-image-slider{
        gap: 5px;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 24px;
        line-height: 1.6rem;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .col1.Dinosaur{
        width: 100%;
        height: auto;
    }
    }


/** Responsive Tablet **/
@media  (min-width: 600px ) and (max-width: 2000px) {
   .container{
    display: block;
    height: auto;
    padding: 20px;
    
   }
   
    
}
/**tech-specs**/
.product-tech-specs h2{
    text-align: center;
}

.container1{
    width: 960px;
    margin:0 auto;
}
.col1{
    width: 450px;
    float: left;  
    margin: 10px;
    position: relative;
   
}
.col2{
    width: 450px;
    float: left;
    margin:10px;   
}

.H>p {
      height: 100px;
      text-align: center;
      background-color:azure;
      color: azure;
      top: 50px;
    }



#cart{
    text-align: center;
}
  